
TIMEZONE=Europe/Berlin

# 40 hours prayer event details
FORTY_HOURS_NAME=40-Stunden-Gebet
FORTY_HOURS_ORGANIZER=Meine LKG
FORTY_HOURS_LOCATION=Musterweg 6a, 12345 Beispielstadt
FORTY_HOURS_DOMAIN=meine-lkg.tld

# the event runs from ... to ... (format: YYYY-MM-DD HH:MM:SS)
FORTY_HOURS_START_DATE=2026-04-03 17:00:00
FORTY_HOURS_END_DATE=2026-04-05 09:00:00

# URL to the 40 hours prayer page, used for navigation to main page
FORTY_HOURS_BASE_URL=https://www.meine-lkg.tld/40-stunden-gebet.html

# path to index.php
FORTY_HOURS_APPLICATION_BASE_URL=./index.php

# host and path, where application is running
FORTY_HOURS_APPLICATION_HOST=https://40hours.external-server.tld

# email addresses
# FORTY_HOURS_ADMIN_EMAIL receives a copy of every email (user and team emails)
FORTY_HOURS_ADMIN_EMAIL=admin@meine-lkg.tld
# Email address of the organisation team. Receives emails with event registrations and confirmation links.
FORTY_HOURS_TEAM_EMAIL=team@meine-lkg.tld

# SMTP configuration for sending emails (event registration, confirmation links, etc.)
SMTP_HOST=mail.meine-lkg.tld
SMTP_PORT=587
SMTP_USER=username
SMTP_PASSWORD=password

SMTP_FROM_EMAIL=info@meine-lkg.tld
SMTP_FROM_NAME=Meine LKG - 40-Stunden-Gebet

# Database configuration for storing event registrations
DATABASE_HOST=localhost
DATABASE_PORT=587
DATABASE_NAME=40hoursprayer
DATABASE_USER=db_user
DATABASE_PASSWORD=db_password

# CSRF key for form security (can be any random string, but should be kept secret)
CSRF_KEY=my_secret_csrf_key
